@import "~@angular/material/prebuilt-themes/indigo-pink.css"; // your theme

.mat-sidenav-container, .mat-sidenav-content, .mat-tab-body-content {
    transform: none !important;
}

.container {
    margin-top: 8vh;
    display: flex;
    flex-direction: column;

    .head-section {
        display: flex;

        .gallery {
            margin: 1em;
            box-sizing: border-box;
        }
    }
}

.info {
    font-family: 'Ubuntu Condensed', sans-serif;
    width: 30vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    margin: 1em;


    .title {
        font-size: 1.4em;
        font-weight: bolder;
        padding: 0.5em 1em;
        height: 18%;
    }

    .price {
        font-size: 1.4em;

        background-color: darkred;
        color: white;
        padding: 0.5em 1em;
        height: 18%;

    }

    .flex-2-rows {
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        flex-grow: 1;
        width: 100%;
        flex-wrap: wrap;
        height: 64%;

        div {
            border-bottom: 1px solid rgb(221, 221, 221);
            box-sizing: border-box;
            text-align: center;
            padding: 1em 0.5em;
            height: 25%;
            display: grid;
            place-items: center;
            width: 50%;
            
           

            &:nth-child(even) {
            border-left: 1px solid rgb(221, 221, 221);
            }
         
        }
    }
}

