@import "~@angular/material/prebuilt-themes/indigo-pink.css"; // your theme

.mat-sidenav-container, .mat-sidenav-content, .mat-tab-body-content {
    transform: none !important;
}

.container {
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    margin-left: 10em;
    margin-right: 10em;
    font-family: 'Ubuntu Condensed', sans-serif;


    .head-section {
        display: flex;
        justify-content: center;

        .gallery {
            margin: 1em;
            box-sizing: border-box;
            z-index: 0;
        }
    }

    .equipment {
      padding: 1em;
      margin-bottom: 1em;
    }
}

.line {
    width: 100%;
    height: 3px;
    background: darkred;
}

.info {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 1.4em;
    color: darkslategrey;
    width: 20vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    margin: 1em;

    div{
        padding: 0.5em 1em;
        flex: 1;
        display: grid;
        align-content: center;
        border-bottom: 1px solid rgb(226, 226, 226);
    }

    .title {
        font-weight: bolder;
        padding: 0.5em 1em;
        color: black;
    }

    .price {
        background-color: darkred;
        color: white;
        padding: 0.5em 1em;
    }

    .flex-2-rows {
        display: flex;
        box-sizing: border-box;
        flex-direction: row;
        flex-grow: 1;
        width: 100%;
        flex-wrap: wrap;
        height: 64%;

        div {
            border-bottom: 1px solid rgb(221, 221, 221);
            box-sizing: border-box;
            text-align: center;
            padding: 1em 0.5em;
            height: 25%;
            display: grid;
            place-items: center;
            width: 50%;




            &:nth-child(odd) {
              border-right: 1px solid rgb(221, 221, 221);
              }

        }
    }
}

.equip {
    display: inline-block;
    padding: 0.5em 1em;
    margin: 0.25em 1em 0.25em 0em;
    background: darkred;
    color: white;
    border-radius: 0.5em;

    i {
        margin-right: 0.5em;
    }
}

.description {
    padding: 2em 1em 1em 1em;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 1.2em;
    line-height: 1.7em;
}

.ngx-gallery-active {
    z-index: 10 !important;
}

.fa-times-circle:before {
  transform: translateY(8vh) !important;
}

ngx-gallery-action {
  i {
    transform: translateY(8vh) !important;
  }
}

.ngx-gallery-icon .ngx-gallery-icon-content {
  transform: translateY(8vh) !important;
}

@media (max-width: 1200px) {
    .container {
        margin: 8vh 0 0 0;
        display: flex;
        flex-direction: column;
        font-family: 'Ubuntu Condensed', sans-serif;
    
    
        .head-section {
            display: flex;
            flex-direction: column;
            justify-content: center;
    
            .gallery {
                margin: 0;
                box-sizing: border-box;
                z-index: 0;
            }

            .info {
                width: 100%;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;
                -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
                box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
                margin: 1em 0 0 0;
            
            }
            
        }

        .equipment {
            display: flex;
            flex-direction: column;
        }
    }    
}