<div class="topbar">
  <span class="logo">LOGO HERE</span>
  <ul>
    <li *ngIf="homepage">O NAS</li>
    <li *ngIf="homepage">NAJNOWSZE OFERTY</li>
    <li *ngIf="homepage">KONTAKT</li>
    <li *ngIf="homepage" [routerLink]="['/cars']">PRZEGLĄDAJ OFERTY</li>
    <li *ngIf="!homepage">WRÓĆ DO OFERT</li>
  </ul>
  <span (click)=showSideMenu()><i class="fas fa-bars"></i></span>
</div>
<div class="side-menu">
  <i (click)=hideSideMenu() class="far fa-window-close fa-2x"></i>
  <ul>
    <li *ngIf="homepage">O NAS</li>
    <li *ngIf="homepage">NAJNOWSZE OFERTY</li>
    <li *ngIf="homepage">KONTAKT</li>
    <li *ngIf="homepage">PRZEGLĄDAJ OFERTY</li>
    <li *ngIf="!homepage">WRÓĆ DO OFERT</li>
  </ul>
</div>
