$color-black: #000000;
$color-white: #ffffff;
$color-red: #d40101;
$color-darkred: #8d0202;

.topbar {
  width: 100%;
  height: 8vh;
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  font-family: 'Ubuntu Condensed', sans-serif;
  top: 0;
  left: 0;
  background: $color-white;
  color: $color-black;
  line-height: 8vh;
  padding: 0 4em;
  -webkit-box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 14px 2px rgba(0,0,0,0.75);
  box-sizing: border-box;
  z-index: 1001;

  .hamburger {
    display: none;
  }

  i {
    display: none;
  }

  @media (max-width: 1200px) {
    .hamburger {
      display: inline-block;
    }

    i {
      display: inline-block;
      padding: 1em;
      box-sizing: border-box;
      cursor: pointer;
      transition: all 0.4s ease-in-out;

    }
    i:hover {
      background-color: $color-darkred;
      color: white;
    }

    ul {
      display: none !important;
    }

  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    // top: 50%;
    // position: absolute;
    // transform: translateY(-50%);

    li {
      display: inline-block;
      margin: 0;
      padding: 0 2em;
      box-sizing: content-box;
      cursor: pointer;
      transition: all 0.4s ease-in-out;


    }
    li:hover {
      background-color: $color-darkred;
      color: $color-white;
    }
  }
  .logo {
    margin-right: 3em;
    height: 70%;

    img {
      height: 100%;
      width: auto;
    }
  }
}

.side-menu {
  opacity: 0;
  transform: translateX(100%);
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 85%;
  max-width: 600px;
  background: white;
  z-index: 100;
  padding: 2em;
  transition: all 0.5s ease-in-out;
  box-sizing: border-box;
  z-index: 2000;

  @media (max-width: 500px) {
    width: 100%;
  }

  i {
    float: right;
    cursor: pointer;
  }
  i:hover {
    color: $color-darkred;
  }
  ul {
    list-style-type: none;
    margin: 4em 0 2em 0;
    padding: 0;
    display: block;
    float: center;
    width: 100%;
    // top: 50%;
    // position: absolute;
    // transform: translateY(-50%);

    li {
      display: block;
      margin-top: 1em;
      padding: 1em;
      box-sizing: content-box;
      text-align: center;
      cursor: pointer;
      transition: all 0.4s ease-in-out;

    }
    li:hover {
      background-color: $color-darkred;
      color: $color-white;
    }
  }
}
